*{
  margin: 0;
  padding: 0;
  list-style:none;
  text-decoration: none;
  

}
h1 { font-family: "Kimberley", sans-serif }
.header 
{
  width: 100%;
  height: 60px;
  display: block;
  /*background-color: rgb(49, 47,53);*/
  background-color: black;
}
.logo
{
  width: 1px;
  height: 1px;
  display: block;
}
#logo2
{
width: 130px; ;
height: 40px;
margin: 10px 5px 10px;

}
nav
{
position: relative;
margin-bottom: auto 0;
width: 100%;
height: 30px;
background-color: rgb(63, 60, 70);

font-size: 0;
box-shadow: 0 .2px 3px 0 rgb(0,0,0,.1);
}
nav a
{
  font-size: 15px;
  font-family: "Varela Round"; 
  font-style: normal; 
  font-variant: normal; 
  font-weight: 700; 
  line-height: 26.4px;
  /*text-transform: uppercase;*/
  color: white;
  text-decoration:none;
  position: relative;
  z-index: 1;
  display:inline-block;
  text-align: center;

}
nav .animation
{
  position: absolute;
  height: 5px;
  bottom: 0;
  z-index: 0;
  background: #1abc9c;
  width: 25%;
  transition: all .5s ease 0s;
}
a:nth-child(1)
{
  width: 25%;

}
nav .nav-home,a:nth-child(1):hover~.animation
{
  width: 25%;
  left: 0;

}
a:nth-child(2)
{
  width: 25%;
  
}
nav .nav-add,a:nth-child(2):hover~.animation
{
  width: 25%;
  left: 25%;

}
a:nth-child(3)
{
  width: 25%;
  
}
nav .nav-history,a:nth-child(3):hover~.animation
{
  width: 25%;
  left: 50%;

}
a:nth-child(4)
{
  width: 25%;
  
}
nav .nav-about,a:nth-child(4):hover~.animation
{
  width: 25%;
  left: 75%;

}
.mainbody
{
   
  font-family: "Varela Round";
  font-size:medium;
  font-weight:bolder;
}

/* The switch - the box around the slider */
.switch {
  
  position: relative;
  display: inline-block;
  width: 45px;
  height: 20px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


/*table*/

table{
padding:2px;
border: solid;
width: 100%;
}
td,tr,th{
  padding:15px;
border: solid;

}
input{
  width: 80px;
  
}